@()
@nav() {

    <!-- start div #main-title -->
    <div class="main-title">
        <p>tips</p>
    </div>
    <!-- end div #main-title -->

    <!-- start div #main -->
    <div id="main">
        <div class="main-content">
            <div class="countries">
                <div class="countries-container">
                    <img class="flag" src="@routes.Assets.at("img/uk_flag.png")">
                    <img class="flag" src="@routes.Assets.at("img/fr_flag.jpg")">
                    <img class="flag" src="@routes.Assets.at("img/it_flag.png")">
                </div>
            </div>
            <div class="country">
                <div class="country-title">
                    <h3>Inglaterra</h3>
                </div>
                <div class="country-content">
                    <div class="row-fluid">
                        <div class="width-20p">
                            <h6>Listado de tips</h6>
                            <ul class="tip-index">
                                <li>Comer</li>
                                <li>Salir</li>
                                <li>Tomar</li>
                                <li>Museos</li>
                            </ul>
                        </div>
                        <div class="width-80p">
                            <h6>Comer</h6>
                            <p>loradasd asd asd asd asd asdasd asdasd asd asd asd asd asd </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="country">
                <div class="country-title">
                    <h3>Francia</h3>
                </div>
                <div class="country-content">
                    <br>
                </div>
            </div>
            <div class="country">
                <div class="country-title">
                    <h3>Italia</h3>
                </div>
                <div class="country-content">
                    <br>

                </div>
            </div>
        </div>
    </div>
    <!-- end div #main -->


}