@()
@js = {
    <!--suppress ALL -->
    <script>
        var $engTips = $('#eng-tips');

        $(document).ready(function(){
        $engTips.find('ul a').first().click();

        });
        $engTips.find('ul a').click(function(){
            ($($($engTips.parent()).parent()).find('.tip')).css("display", "none");
            var linkHref = $(this).attr("href");
            $(linkHref).css("display", "inline-block");
        })
    </script>
}
@nav(js = js) {
    <div id="tips">
            <!-- start div #main-title -->
        <div class="main-title">
            <p>tips</p>
        </div>
            <!-- end div #main-title -->

            <!-- start div #main -->
        <div id="main">
            <div class="main-content">
                <div class="countries">
                    <div class="countries-container">
                        <a href="#country-england"><img class="flag" src="@routes.Assets.at("img/uk_flag.png")"></a>
                        <a href="#country-france"><img class="flag" src="@routes.Assets.at("img/fr_flag.jpg")"></a>
                        <a href="#country-italy"><img class="flag" src="@routes.Assets.at("img/it_flag.png")"></a>
                    </div>
                </div>
                <div class="country" id="country-england">
                    <div class="country-title">
                        <h3>Inglaterra</h3>
                    </div>
                    <div class="country-content">
                        <div class="row-fluid">
                            <div class="width-20p">
                                <h6>Listado de tips</h6>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="width-20p">
                                <div id="eng-tips">
                                    <ul class="tip-index">
                                        <a href="#precios-tip" data-toggle="tab"><li>Idea de precios</li></a>
                                        <a href="#transporte-tip" data-toggle="tab"><li>Transporte</li></a>
                                        <a href="#shopping-tip" data-toggle="tab"><li>Shopping</li></a>
                                        <a href="#viveres-tip" data-toggle="tab"><li>Víveres y provisiones</li></a>
                                        <a href="#turismo-tip" data-toggle="tab"><li>Highlights</li></a>
                                    </ul>
                                </div>
                            </div>
                            <div class="width-80p tip" id="precios-tip">
                                <h6>Idea de precios</h6>
                                <p>
                                    Viaje en colectivo: £ 4<br>
                                    Entrada a una disco: £ 15<br>
                                    Un refresco: £ 1,50<br>
                                    Un café: £ 2,50<br>
                                    Una cena: £ 10<br>
                                    Comida rápida: £ 5<br>
                                    Entrada al cine: £ 10<br>
                                    Transporte público: £ 35/semana aprox.<br>
                                </p>
                            </div>
                            <div class="width-80p tip" id="transporte-tip">
                                <h6>Transporte</h6>
                                <p>
                                    Una opción es comprar una <b>Oyster Card</b> (tipo SUBE) e ir cargándola según
                                    sea necesario. La otra opción es comprar un <b>Travel card</b> por 1 día, o una semanal, etc.
                                    cuyo precio es fijo independientemente de cuantos viajes se hagan. Es importante sacar
                                    la travel card para zonas 1,2 y 3 por lo menos, así incluye todos los lugares más
                                    populares de Londres. En ambos casos, las tarjetas sirven para viajar en colectivo, subte
                                    y tren.
                                </p>
                            </div>
                            <div class="width-80p tip" id="shopping-tip">
                                <h6>Shopping</h6>
                                <p>
                                    • <b>Primark</b>, en Oxford Street cerca de Tottenham Court Road o en Oxford
                                    Street del lado de Marble Arch. Ideal para comprar básicos (jeans, remeras, medias,
                                    buzos, zapatillas, etc) a súper buenos precios.<br>
<br>
                                    • <b>H&M</b>: En Oxford Circus. Ropa canchera a muy buenos precios.<br>
<br>
                                    • <b>Waterstones</b>: Cadena de librerías con gran variedad de libros, autores y géneros. Hay
                                    una en todos lados.
                                </p>
                            </div>
                            <div class="width-80p tip" id="viveres-tip">
                                <h6>Viveres y provisiones</h6>
                                <p>
                                    • <b>Boots</b>: Mega farmacia y perfumería donde se puede comprar de todo. Imposible no
                                    encontrar una en cada barrio.<br>
                                    <br>
                                    • <b>Tesco</b>: Supermercado con buenos precios donde también se puede comprar comida ya
                                    preparada, tipo rotisería.<br>
                                </p>
                            </div>
                            <div class="width-80p tip" id="turismo-tip">
                                <h6>Highlights</h6>
                                <p>
                                    • <b>Fortnum & Mason</b>: donde la reina solía ir a tomar el té. Esta
                                    emblemática tienda es famosa por su elegante sección de alimentos, frutas y verduras.<br>
                                    <br>
                                    • <b>Notting Hill</b>: El <b>Travel Bookshop</b> de la película donde Hugh Grant conoce a Julia
                                    Roberts. Está tal cual.<br>
                                    <br>

                                    • <b>Chelsea Stadium</b>: Un tour por la cancha y vestuarios del Chelsea es un excelente
                                    programa. La tienda al final del tour es el lugar para comprar remeras, medias, shorts, y
                                    todo lo que se te ocurra con los colores del equipo.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="country" id="country-france">
                    <div class="country-title">
                        <h3>Francia</h3>
                    </div>
                    <div class="country-content">
                        <div class="row-fluid">
                            <div class="width-20p">
                                <h6>Listado de tips</h6>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="width-20p">
                                <div id="fr-tips">
                                    <ul class="tip-index">
                                        <a href="#precios-tip" data-toggle="tab"><li>Idea de precios</li></a>
                                    </ul>
                                </div>
                            </div>
                            <div class="width-80p tip" id="precios-tip-fr">
                                <h6>Idea de precios</h6>
                                <p>
                                    Viaje en colectivo: € 2<br>
                                    Entrada a una disco: € 25<br>
                                    Un refresco: € 3,20<br>
                                    Un café: € 3,50<br>
                                    Una cena: € 28<br>
                                    Comida rápida: € 15<br>
                                    Entrada al cine: € 11<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="country" id="country-italy">
                    <div class="country-title">
                        <h3>Italia</h3>
                    </div>
                    <div class="country-content">
                        <div class="row-fluid">
                            <div class="width-20p">
                                <h6>Listado de tips</h6>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="width-20p">
                                <div id="it-tips">
                                    <ul class="tip-index">
                                        <a href="#precios-tip" data-toggle="tab"><li>Idea de precios</li></a>
                                    </ul>
                                </div>
                            </div>
                            <div class="width-80p tip" id="precios-tip-it">
                                <h6>Idea de precios</h6>
                                <p>
                                    Viaje en colectivo: € 1,20<br>
                                    Entrada a una disco: € 10<br>
                                    Un refresco: € 1,80<br>
                                    Un café: € 1,50<br>
                                    Una cena: € 25<br>
                                    Comida rápida: € 10<br>
                                    Entrada al cine: € 9<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- end div #main -->

    </div>
}